/* to do: meertaligheid invoeren */

:root {
  --oker: #d19a5f;
  --violet: #9583be;
  --oranje: #f57b42;
  --roze: #ef416e;
  --groen: #3c7034;
  --blauw: #2c65b4;
}

@font-face {
  font-family: DD;
  src: url('../fonts/DINdong.otf') format('opentype'),
    url('../fonts/DINdong.woff') format('woff'),
    url('../fonts/DINdong.woff2') format('woff2');
}

/* __________GENERAL__________ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  border: none;
  list-style-type: none;
}
*::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

html,
body {
  background-color: white;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'DD', serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--oker);
}

img {
  display: block;
}

button {
  font: inherit;
  background-color: white;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}
.full-height {
  height: 100vh;
}

/* __________SECTIONS__________ */
section {
  padding: 20px;
  width: 100%;
}

/* ___Section 1___ */
#section-1 {
  position: fixed;
  overflow: scroll;
  z-index: 10;
  background-color: white;
  transition: height 0.3s ease-in-out;
}

/* Ensure section-1 does not disappear */
#section-1.active {
  height: 100vh; /* Controls menu visibility */
}
.menubalk {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--oker);
}

#titel {
  order: 2;
}
.toggle-button {
  order: 1;
}

.menubalk-icon {
  width: 32px;
}

.dropout-menu.active {
  display: block;
  transition: height 0.3s ease;
}

.accordion {
  width: 100%;
}
.accordion .active {
  color: var(--oker);
}

.panel {
  background-color: white;
  color: var(--violet);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.page-link {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  text-align: right;
  border-bottom: 1.5px solid var(--oker);
  transition: color 0.2s ease-out;
  cursor: pointer;
}
.panel .page-link {
  border-bottom: 1.5px solid var(--violet);
}
#page-2 {
  padding-top: 0px;
  border: 0;
}
.page-link a {
  display: inline-block;
  width: 100%;
}

/* ___Section 2___ */
#section-2 {
  height: 100vh;
  padding-top: 72px;
  overflow: scroll;
}

.flipbook {
  width: 100%;
}
.flipbook .page img {
  width: 100%;
  border: 2px solid var(--oker);
  border-top: none;
}
.flipbook .page:first-of-type img {
  border-top: 2px solid var(--oker);
}

.white-img {
  display: none;
}

.totop {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.totop a {
  color: black;
}

/* ___Section 3___ */
#section-3 {
  position: fixed;
  width: fit-content;
  bottom: 0;
  right: 0;
  text-align: right;
  z-index: 20;
}
.lang-link {
  display: inline-block;
  padding: 0 5px;
  transition: color 0.2s ease-out;
}

.lang-link .active {
  color: black;
}
.lang-link:hover,
.page-link:hover {
  color: var(--bruin);
}

/* Medium devices (landscape tablets, 768px and up) */
/* bladwijzerversie van de website start hier */
@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
  /* min768px__________SECTIONS__________ */
  .sections-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .section {
    height: 100%;
  }
  #section-1,
  #section-3 {
    flex-shrink: 0;
  }

  /* min768px___Section 1___ */
  #section-1 {
    order: 3;
    width: 320px;
    position: relative;
    padding: 30px 30px 30px 20px;
  }
  .bladwijzer {
    height: 100%;
    border: 2px solid var(--oker);
    padding: 15px 20px 20px;
    overflow-y: scroll;
  }
  .toggle-button {
    display: none;
  }
  .dropout-menu {
    display: block;
  }

  /* min768px___Section 2___ */
  #section-2 {
    order: 2;
    padding: 30px 10px;
  }

  /* min768px___Section 3___ */
  #section-3 {
    order: 1;
    display: block;
    position: relative;
    width: fit-content;
    padding: 25px 15px 30px 30px;
  }
  .lang-link {
    display: list-item;
    padding: 3px 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* flipbook-versie van website start hier */
@media only screen and (min-width: 992px) {
  body {
    font-size: 22px;
  }
  /* min992px___Section 2___ */
  .white-img {
    display: block;
  }
  /* vvv responsiviteit! vvv */
  #section-2 {
    display: flex;
    align-items: center;
    overflow-y: hidden;
  }
  .aspect {
    padding-bottom: 70%;
    position: relative;
    width: 100%;
  }

  .aspect-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .flipbook {
    height: 100%;
    transition: margin-left 0.25s ease-out;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .flipbook .page {
    height: 100%;
    width: 100%;
  }

  .flipbook .page img {
    max-width: 100%;
    height: 100%;
    border: 2px solid var(--oker);
  }
  /* ^^^ responsiviteit! ^^^ */
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

/* Extra-large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

/* Extra-extra-large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  body {
    font-size: 24px;
  }
  #section-1 {
    width: 380px;
  }
  #section-2 {
    margin: 10px;
    height: calc(100vh - 20px);
  }
}
